body{
    background-image: url(../Image/car-49278_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
th,td{
    text-align: center;
    padding:10px;
}
table{
    width:80%;
    border-collapse: collapse;
    margin:auto;
    opacity: .8;
}
tr:nth-child(even){
    background-color:gray;
}
tr:nth-child(odd){
    background-color:lightcyan;
}
th{
    background-color: forestgreen;
    color:white;
}
div{
    background-color: rgba(255,255,255,.5);
}